.button {
    background-color: #E67235;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px/30px;
    box-shadow:
        0 2px 1px rgba(0, 0, 0, .3);
    font-weight: bold;
}

.button:hover {
    background-color: #d96c32;
}
